In [2]:
import requests
from bs4 import BeautifulSoup
import time
import random

### 抓取搜索列表船只链接

In [3]:
# time.sleep(random.randint(0,3)) 
targetWebURL = "https://www.yachtworld.com/boats-for-sale/type-sail/?page=1"
headers = {'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36'}
page = requests.get(targetWebURL, headers=headers)
soup = BeautifulSoup(page.content, "html.parser")

In [3]:
sailboatLinks = soup.select("div.search-right-col a")
sailboats = []
for sample in sailboatLinks:
    itemLink = sample.attrs["href"]
    try:
        itemId = sample.attrs["data-reporting-click-product-id"]
    except:
        continue
    sailboats.append(tuple([itemId,itemLink])) 
print(sailboats)

[('8414888', 'https://www.yachtworld.com/yacht/2011-catalina-355-8414888/'), ('8627590', "https://www.yachtworld.com/yacht/1997-freedom-35'-8627590/"), ('8250854', 'https://www.yachtworld.com/yacht/2006-beneteau-343-8250854/'), ('8567163', 'https://www.yachtworld.com/yacht/2006-delphia-40-8567163/'), ('8095959', 'https://www.yachtworld.com/yacht/1968-hinckley-bermuda-40-mkii-8095959/'), ('8626029', 'https://www.yachtworld.com/yacht/2011-jeanneau-44i-8626029/'), ('8592752', 'https://www.yachtworld.com/yacht/2023-jeanneau-sun-odyssey-490-8592752/'), ('8580991', 'https://www.yachtworld.com/yacht/2023-jeanneau-sun-odyssey-440-8580991/'), ('8403570', 'https://www.yachtworld.com/yacht/1993-freedom-35-8403570/'), ('8651102', 'https://www.yachtworld.com/yacht/1998-catalina-34-mkii-8651102/'), ('8766680', 'https://www.yachtworld.com/yacht/2000-beneteau-oceanis-321-8766680/'), ('8580993', 'https://www.yachtworld.com/yacht/2023-jeanneau-sun-odyssey-440-8580993/'), ('8459124', 'https://www.yachtworld.com/yacht/1999-catalina-mk-ii-8459124/'), ('8285468', 'https://www.yachtworld.com/yacht/1999-gozzard-44-8285468/'), ('8592771', 'https://www.yachtworld.com/yacht/2023-jeanneau-sun-odyssey-440-8592771/')]

### 抓取船只页面信息

In [4]:
targetWebURL = "https://www.yachtworld.com/yacht/2012-beneteau-sense-43-8660979/"
page = requests.get(targetWebURL, headers=headers)
soup = BeautifulSoup(page.content, "html.parser")

In [7]:
keys = []
values = []
infoCursor = soup.select("div.boat-details-content .summary")
place = infoCursor[0].find(
    'h2', attrs={"class": "location"}).text.strip()
keys.append("Location")
values.append(place)

price = infoCursor[0].find('span', attrs={"class":"payment-total"}).text.strip()
keys.append("Listing Price (USD)")
values.append(price)

In [8]:
# 基本信息获取
infoCursor = soup.select("div.boat-details-content .details")
tableBasics = infoCursor[0].find('tbody', attrs={"class":"datatable-section"})
for trtag in tableBasics:
    tdlist = trtag.find_all("td")
    keys.append(tdlist[0].text.strip())
    values.append(tdlist[1].text.strip())

# 额外信息获取
infoCursor = soup.select("div.boat-details-content .propulsion")
tablePropulsion = infoCursor[0].find('tbody', attrs={"class":"datatable-section"})
for trtag in tablePropulsion:
    tdlist = trtag.find_all("td")
    keys.append(tdlist[0].text.strip())
    values.append(tdlist[1].text.strip())

# for i in range(len(keys)):
#     print(keys[i],":",values[i])

# 船体规格数据
infoCursor = soup.select("div.boat-details-content .measurements .datatable-category")
for cursor in infoCursor:
    if cursor.find("h3", attrs={"class":"sub-title"}).text.strip() == "Dimensions":
        dimensionTable = infoCursor[0].find('tbody', attrs={"class":"datatable-section"})
        for trtag in dimensionTable:
            tdlist = trtag.find_all("td")
            if tdlist[0].text.strip() == "Length Overall":
                keys.append("Length (ft)")
                values.append(tdlist[1].text.strip())
            
            if tdlist[0].text.strip() == "Beam":
                keys.append("Beam")
                values.append(tdlist[1].text.strip())

for i in range(len(keys)):
    print(keys[i],":",values[i])           
        
    

# dimensionTable = infoCursor[0].find('tbody', attrs={"class":"datatable-section"})
# for trtag in dimensionTable:
#     tdlist = trtag.find_all("td")
#     keys.append(tdlist[0].text.strip())
#     values.append(tdlist[1].text.strip())

# tanksTable = infoCursor[1].find('tbody', attrs={"class":"datatable-section"})
# for trtag in tanksTable:
#     tdlist = trtag.find_all("td")
#     keys.append(tdlist[0].text.strip())
#     values.append(tdlist[1].text.strip())

# accommodationsTable = infoCursor[2].find('tbody', attrs={"class":"datatable-section"})
# for trtag in accommodationsTable:
#     tdlist = trtag.find_all("td")
#     keys.append(tdlist[0].text.strip())
#     values.append(tdlist[1].text.strip())

# for i in range(len(keys)):
#     print(keys[i],":",values[i])

Location : Hong Kong, Hong Kong
Listing Price (USD) : US$220,000
Year : 2012
Make : Beneteau
Model : Sense 43
Class : Cruiser
Length : 43.31ft
Fuel Type : Diesel
Hull Material : Fiberglass
Offered By : Simpson Marine Limited - Simpson Marine - Hong Kong
Engine Make : Yanmar
Engine Model : 4JH5CE
Total Power : 54hp
Engine Type : Inboard
Drive Type : Sail Drive
Fuel Type : Diesel
Folding Propeller : ✓
Length (ft) : 43.31ft
Beam : 14.04ft

In [15]:
x = dict(zip(keys, values))
print(x.keys())
print(x.values())

dict_keys(['Location', 'Listing Price (USD)', 'Year', 'Make', 'Model', 'Class', 'Length', 'Fuel Type', 'Hull Material', 'Offered By', 'Engine Make', 'Engine Model', 'Total Power', 'Engine Type', 'Drive Type', 'Folding Propeller', 'Length (ft)', 'Beam'])
dict_values(['Hong Kong, Hong Kong', 'US$220,000', '2012', 'Beneteau', 'Sense 43', 'Cruiser', '43.31ft', 'Diesel', 'Fiberglass', 'Simpson Marine Limited - Simpson Marine - Hong Kong', 'Yanmar', '4JH5CE', '54hp', 'Inboard', 'Sail Drive', '✓', '43.31ft', '14.04ft'])

In [17]:
import pandas as pd
df = pd.DataFrame([x.values()], columns=x.keys())
df.to_excel("./test.xlsx")